@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
:root {
    --default: #05A7D8; /*  #D81D04 */
    --green: #25A515;
    --yellow: #FFC61F;
    --yellowDark: #05a7d8;
    --red: #D81E04;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #707070;
    --darkWhite: #f8f8f8;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
html, body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
nav {
    height: 100px;
    width: 100%;
    border-bottom: var(--yellow) solid 5px;
}

.blue-nav {
    background-color: var(--default);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    width: 300px;
}
.search-nav{
    width: 500px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.linkNav {
    text-decoration: none;
    color: var(--white);
    font-size: 13pt;
}

.menuNav:hover .dropdown-content {
    display: block;
}
.profile-nav {
    width: 300px;
    height: 80px;
    border-radius: 50px 50px 50px 50px;
    background-color: rgba(0,0,0, 0.42);
    line-height: 0;
}
.profile-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#navProfileImage {
    float: left;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    margin: 8px 0;
    background-image: url("../../assets/images/profile.svg");
    background-size: cover;
    background-position: center;
}

.imgcontainer {
    height: 64px;
    width: 64px;
}

.account-nav {
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 2px;
    color: var(--white);
    font-weight: bolder;
}

.login-nav {
    color: var(--white);
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

.profile-nav a {
    font-size: 16px;
    color: var(--white);
    text-decoration: underline;
}
.menu-nav {
    background-color: var(--yellow);
    color: var(--white);
    padding: 10px;
    font-size: 20px;
    border-radius:10px;
}
.links-nav {
    float: left;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-top: -2vh;
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content p{
    padding: 1vh;
}
.dropdown-content a{
    color: var(--black);
    text-decoration: none;
}
.dropdown-content button{
    color: var(--black);
    text-decoration: none;
}
footer {
    position: relative;
    width: 100%;
    height: 10vh;
    background: var(--yellow);
    border-top: var(--default) solid 5px;
    margin-top: auto;
}
footer p {
    text-align: center;
    margin-top: 4vh;
    color: var(--white);
}
.logoutP {
    cursor: pointer;
}
#naamNav {
    color: var(--white);
    font-weight: bold;
    text-decoration: underline;
    padding-top: 1vh;
    margin-left: -0.5vh;
}
.helpImage {
    height: 1.5vh;
}